/* Здесь делаем стили для домашнего задания № 3 по курсу HTML/CSS */

/* Создаем фон #f8f8f8 для всех страниц сайта */
body {
    background: #f8f8f8;
}

/* Меняем цвета новых и посещенных ссылок на один цвет и убираем подчеркивания */
a {
    color: darkcyan;
    text-decoration: none;
    
}

/* Делаем фиксированный заголовок */
.header {
    height: 50px;
    z-index: 100;
}

#header_fix {
    display: block;
    height: 28px;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    background-color: lightgoldenrodyellow;
    top: 0;
    
}

/* Создаем стиль родительского блока */
.container {
    display: inline-block;
    width: 900px;
}

/* Создаем стили новостей */
.news {
    width: 300px;
    display: inline;
    float: right;
    margin-top: 25px;
}

.news_header {
    padding-left: 8px;
    color: darkblue;
    font-weight: bold;
}

.news_block {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px;
    text-decoration: none;
}

.news_block:hover {
    background-color: lightcyan;
}

.news_date {
    color: blue;
    font-weight: bold;
}

.news_head {
    color: darkblue;
    font-weight: lighter;
}

.news_content {
    font-size: 12px;
    font-style: italic;
    color: darkcyan;
}

.news_full {
    font-size: 14px;
    color: darkcyan;
}

/* Прописываем класс для подвала */
.footer {
    font-family: sans-serif;
    font-size: 13px;
    color: darkblue;
    background-color: lightyellow;
    height: 170px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
}

/*Дополнительная навигация в подвале*/
ul.navifoot {
    text-align: left;
    padding-left: 16px;
    list-style-type: none;
}

ul.navifoot li {
    list-style-type: none;
}

ul.navifoot li: hover {
    color: red;
    background-color: lightyellow;
}

/* Создаем стиль меню */

.menu li {
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
    outline: 2px solid darkcyan;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color:azure;
}

/* Меню при наведении указателя мыши */

.menu li:hover {
    list-style-type: none;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: lightblue;
    outline-style: solid;
    outline-color: yellow;
    outline-width: 6px;
}


/* Форматируем поле E-mail при получении фокуса */
.input:focus {
    color: green;
    background-color: lightyellow;
}

/* Делаем первую букву текстового поля заглавной */
.inputA.focus {
    text-transform: capitalize;
}

/* Форматируем заголовки 2-го уровня h2 */
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400px;
    background-color: #eaeaea;
}

h1 {
    color: darkblue;
    margin-left: 4px;
}

/* Задаем стиль цвета фирменного шрифта */
firmtext {
    color: darkblue;
}

/* Задаем стиль для краткого описания товара */
.good-short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

/* Задаем стиль для списка характеристик товара */
.good-char li {
    margin-left: 5px;
    list-style-image: url(img/marker.png);
    display: list-item;
    color: darkcyan;
    background-color: azure;
    font-size: 16px;
}

/* Задаем стиль подробного описания товара */
p.good-full {
    color: #484343;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

/* Задаем стиль полям формы */
input {
    border: 2px solid grey;
    padding-bottom: 3px;
    padding: 2px;
    padding-top: 2px;
    background-color: lavender;
    width: 300px;
    height: 20px;
    margin: 3px;
    color: blue;
    text-transform: capitalize;
}

.cont_butt_OK {
    border: 2px solid grey;
    padding-bottom: 4px;
    padding: 4px;
    padding-top: 4px;
    background-color: lightcyan;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    vertical-align: middle;
    color: darkcyan;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
}

.cont_butt_KO {
    border: 2px solid grey;
    padding-bottom: 4px;
    padding: 4px;
    padding-top: 4px;
    background-color: lightcyan;
    width: 150px;
    height: 30px;
    vertical-align: middle;
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
}

textarea {
    border: 2px solid grey;
    padding-bottom: 3px;
    padding: 2px;
    padding-top: 2px;
    background-color: lavender;
    width: 300px;
    height: 80px;
    margin: 3px;
    color: blue;
    text-transform: capitalize;
    overflow: scroll;
}

/* Задаем стиль для текста в таблице */
td {
    text-align: center;
    vertical-align: top;
    word-wrap: normal;
}

/* Делаем стиль заголовков таблицы */
th {
    color: darkblue;
    border-bottom: 1px solid darkblue;
}

/* Задаем стиль простой строки в таблице */
.tr1 {
    border-bottom: 1px dotted black;
}

/* Задаем расположение текста справа от картинки */
.good_pic {
    float: left;
    margin: 0px 10px 10px 0px;
}

.block1 {
    display: block;
    height: 150px;
}

.bye_butt {
    height: 32px;
    width: 120px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: darkcyan;
    border-radius: 12px;
    border: 1px solid darkcyan;
}

.bye_butt:hover {
    height: 32px;
    width: 120px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: blue;
    border-radius: 12px;
    border: 1px solid darkcyan;
}

.bye_butt:active {
    height: 32px;
    width: 120px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 12px;
    border: 1px solid darkcyan;
}

.head_block {
    background: lightgoldenrodyellow;
    width: 900px;
    height: 102px;
    vertical-align: middle;
    margin-bottom: -10px;
}

.good_block2 {
    width: 180px;
    display: inline-block;
    text-align: center;
}

/* Задаем фон страницы, где выводится отдельно крупным планом фото товара */
.pic_fon {
    background-color: lightgoldenrodyellow;
}

/* Стиль блока с картинкой */
.big_pic {
    text-align: center;
    padding-top: 10px;
}

/* Создаем стиль списка для хлебных крошек */
/*
nav {
    display: block;
    position: relative;
}
*/

ul.breadcrumbs {
    margin: 0;
    padding: 14px;
}

ul.breadcrumbs li {
    display: inline;
    list-style: none;
    border: 1px solid darkcyan;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 8px;
    text-align: center;
    border-radius: 8px;
    vertical-align: middle;
}

ul.breadcrumbs li :hover {
    color: red;
    background-color: lightgoldenrodyellow;
}

/* Подсветка обратно в каталог */
a.back {
    margin-left: 8px;
}

a.back:hover {
    color: red;
    background-color: lightgoldenrodyellow;    
}

